<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesCondition"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="upi"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="upi" android:host="pay"/>
    </intent>
    <package android:name="com.google.android.apps.nbu.paisa.user"/>
    <package android:name="com.google.android.apps.nbu.paisa.merchant"/>
    <package android:name="com.phonepe.app"/>
    <package android:name="com.phonepe.app.business"/>
    <package android:name="net.one97.paytm"/>
    <package android:name="net.one97.paytm.merchant"/>
    <package android:name="com.paytmbusiness"/>
    <package android:name="in.org.npci.upiapp"/>
    <package android:name="com.naviapp"/>
    <package android:name="com.navi.services"/>
    <package android:name="com.navi.upi"/>
    <package android:name="com.dreamplug.androidapp"/>
    <package android:name="in.amazon.mShop.android.shopping"/>
    <package android:name="tech.superpay.app"/>
    <package android:name="com.supermoney.app"/>
    <package android:name="com.sbi.upi"/>
    <package android:name="com.csam.icici.bank.imobile"/>
    <package android:name="com.msf.kbank.mobile"/>
    <package android:name="com.upi.axispay"/>
    <package android:name="com.hdfcbank.payzapp"/>
    <package android:name="com.canarabank.mobility"/>
    <package android:name="com.bankofbaroda.upi"/>
    <package android:name="com.bankofbaroda.mconnect"/>
    <package android:name="com.whatsapp"/>
  </queries>
</manifest>
